<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- font icon -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Ubuntu&display=swap"
    rel="stylesheet">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/css/dist/mdb5/standard/core.min.css">
  
    <link rel='stylesheet' id='roboto-subset.css-css'  href='https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/css/mdb5/fonts/roboto-subset.css?ver=3.9.0-update.5' type='text/css' media='all' />
</head>
<style>
  @media (min-width: 1025px) {
.h-custom {
height: 100vh !important;
}
}
</style>

<body>
  <section class="h-100" style="background-color: #eee;">
    <div class="container h-100 py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10">
  
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
            <!-- <div>
              <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!" class="text-body">price <i
                    class="fas fa-angle-down mt-1"></i></a></p>
            </div> -->
          </div>
  
          <% cartdata.forEach(item => { %>
            <div class="card rounded-3 mb-4">
                <div class="card-body p-4">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-md-2 col-lg-2 col-xl-2">
                            <a class="" role="link" href="/<%= item.productcatagory %>?id=<%=item.productID%>">
                                <img src="<%= item.image %>" class="img-fluid rounded-3" alt="<%= item.name %>">
                            </a>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-3">
                            <a class="" role="link" href="/<%= item.productcatagory %>?id=<%=item.productID%>">
                                <p class="lead fw-normal mb-2"><%= item.name %></p>
                                <p>DosageForm : <%= item.dosageForm%></p>
                            </a>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                                onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                <i class="fas fa-minus"></i>
                            </button>
        
                            <input id="form1" min="0" name="quantity" value="1" type="number"
                                class="form-control form-control-sm" />
        
                            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                                onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                            <h5 class="mb-0">Rs <%= item.offers.price %></h5>
                        </div>
                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                          <a href="" class="text-danger" onclick="deleteItem('<%=item.productID%>')"><i class="fas fa-trash fa-lg"></i></a>
                      </div>
                    </div>
                </div>
            </div>
        <% }) %>
        
    
          <div class="card">
            <div class="card-body">
              <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-warning btn-block btn-lg" onclick="showalert()">Proceed to Pay</button>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>
    <script>
      function showalert(){
        alert("Working on this feature");
      }
    function deleteItem(id) {
        fetch(`/cart/${id}`, {
            method: 'DELETE',
        })
        .then(response => response.text())
        .then(data => {
          window.location.reload();
        })
        .catch(error => console.error('Error:', error));
    }
    </script>
</body>

</html>